<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coldboar.coreguard">

    <application
        android:label="ColdBoar CoreGuard"
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <activity android:name=".PaywallActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>